extends ../layout/common
block content
    h1 Create user
    
    form(action="/users/create", method="post", class="d-flex")
        label name 
        input(type="text",name="name" class="form-control")

        button(class="btn btn-primary ml-5") Create