extends ../layout/common
block content   
    h1 Products
       each product in products
            .row 
                .card.col-6.col-md-4
                    img.card-img-top(src= product.image, alt='...')
                    .card-body
                    h2.card-title= product.name
                    p.card-text= product.description                      
                    p.card-text
                    button.btn.btn-primary(type='button') Buy
    nav(aria-label='Page navigation example')
        ul.pagination
            li.page-item
            a.page-link(href='#', aria-label='Previous')
                span(aria-hidden='true') &laquo;
            li.page-item
            a.page-link(href='#') 1
            li.page-item
            a.page-link(href='#') 2
            li.page-item
            a.page-link(href='#') 3
            li.page-item
            a.page-link(href='#', aria-label='Next')
                span(aria-hidden='true') &raquo;

